################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GXPEngine/FileContentIndex/5777d8e3-5623-4e55-9f0a-7c6c436ee08a.vsidx
